.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  width: 100vw;
  border: 1px solid black;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.button-container {
  width: 20vw;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.button-container button {
  background-color: blue;
  color: white;
  height: 5vh;
  margin: 2vw;
}
.content-container {
  height: 100%;
  border: 1px solid black;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}
.get-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show-users {
  display: flex;
  margin: 1vw;
  /* width: 100vh; */
  /* height: 20vh; */
}
.user-detail {
  border: 1px solid black;
  margin: 1vw;
  padding: 1vw;
}
